<%= stylesheet_link_tag "edit" %>
<div class="container3">
  <h1 class="editprofile">edit profile</h1>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div action="#">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="profile photo">
            </div>
          </div>
        </div>
  <div action="#">
    <%= f.date_field :start_date, class: "datepicker btn", placeholder: "Clean/Sobriety Date" %>
  </div>
        <div class="input-field col s6">
          <%= f.text_field :first_name, id: "first_name" %>
          <label for="first_name">First</label>
        </div>
        <div class="input-field col s6">
          <%= f.text_field :last_name, id: "last_name" %>
          <label for="last_name">Last</label>
        </div>
      </div>
    </div>
  </div>

  <div class="cleanopt">
    <div action="#">
      <p>
        <%= f.radio_button :sober, true, name: "group1",  id: "test1"%>
        <label for="test1">Clean</label>
       
        <%= f.radio_button :sober, false, name: "group1",  id: "test2"%>
        <label for="test2">Sober</label>
      </p>
    </div>
  </div>
  <div class="input-field col s6">
          <%= f.email_field :email, id: "first_name" %>
          <label for="home_group">Email</label>
  </div>

  <div class="input-field col s6">
          <%= f.text_field :area, id: "first_name" %>
          <label for="home_group">Home Group</label>
  </div>
  <div class="input-field col s6">
          <%= f.password_field :current_password, id: "current_password" %>
          <label for="home_group">Current Password</label>
  </div>
  <div class="input-field col s6">
          <%= f.password_field :password, id: "current_password" %>
          
          <label for="home_group">New Password</label>
  </div>
   <div class="input-field col s6">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <label for="home_group">New Password Confirmation</label>
  </div>
  
 
  <div class="input-field col s6">
    <%= f.submit "Done",  class: "waves-effect waves-light btn" %> 
  </div>

</div>

<% end %>

<script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 64, // Creates a dropdown of 15 years to control year,
    min: new Date(1953,9,14),
    max: true,
    closeOnSelect: true,
    closeOnClear: true,
  });
</script>




