<p class="text-white"><%= @user.email %></p>
<p class="text-white"><%= @user.sober %></p> 
<p class="text-white"><%= @user.username %></p>
<p class="text-white"><%= @user.name %></p>
<p class="text-white"><%= @user.area %></p>
<%= link_to "Connect", root_path %>
