<p class="text-white"><%= @user.email %></p>
<p class="text-white"><%= @user.sober %></p> 
<p class="text-white"><%= @user.first_name %></p>
<p class="text-white"><%= @user.last_name %></p>
<p class="text-white"><%= @user.area %></p>
<p class="text-white"><%= @user.posts%></p>
