<%= render "shared/navbar" %>
<%= stylesheet_link_tag "profile" %>

<div class="card">
  <p class="material-icons edit-button"><%= link_to "edit", controller: "infos", action: "edit", id: current_user.infos.first.id  %></p>
  <img src=https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg class="profile-img">
  <%= start_date(current_user).strftime("%m/%d/%y") unless start_date(current_user).nil? %>
    <div class="profile-text">
      <div class="datecolor">
        <%= time_dif current_user %>
      </div>
      
      <h1 class="profile-name"><%= first_name current_user %> <%= last_name current_user %></h1>
        <span class="profile-title"><b><%= area current_user %></b> Message of Hope, Promise of freedom</span>
    </div>
</div>

