<%= render "shared/navbar" %>
<%= stylesheet_link_tag "profile" %>

<div class="card">
  
    <%= link_to "edit", edit_user_registration_path, class: "material-icons edit-button" %>
  

  <img src=https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg class="profile-img">
  <div class="profile-text">
    <div class="cleandate">
      <%= start_date(current_user).strftime("%m/%d/%y") unless start_date(current_user).nil? %>

      <div class="datecolor">
        <style>
        @import url('https://fonts.googleapis.com/css?family=Rasa');
        </style>
        <%= time_dif current_user %>
        <%= first_name current_user %> 
        <%= last_name current_user %>
        <div class="datecolor">
          <%= area current_user %> Message of Hope, Promise of freedom
        </div>
      </div>
    </div>
  </div>
</div>



