<%= render @posts %>
<%= link_to "New", new_post_path, class: "text-white" %><br>
<%= link_to "Logout", destroy_user_session_path, method: :delete,   class: "alert" %><br>
<%= render @users %> 
<p class="text-white"><%= current_user.email %></p>
<p class="text-white"><%= time_dif current_user %></p>
  
