<link rel="stylesheet" href="croppie.css" />
<script src="croppie.js"></script>
<%= stylesheet_link_tag "edit" %>

<%= render "shared/navbar" %>
<%= form_for @info do |f| %>

<h1 class="editprofile field">Edit Profile</h1>
<div class="container2">

  <label>Profile Picture:</label><br/>
  

  <div id="main-cropper"></div>
  <a class="button actionUpload">
    <span>Upload</span>
    <%= f.file_field :picture, id: "upload", value: "Choose Image", accept: "image/*"  %>
  </a>
  
  
  

</div>
</body>
</html>


<canvas id="imageCanvas"></canvas>
</div>


<div class="row field">
  <div class="input-field field col s6">
    <%= f.text_field  :first_name, id: "first_name" %>
    <label for="first_name">First</label>
  </div>

  <div class="input-field field col s6">
    <%= f.text_field :last_name, id: "last_name" %>
    <label for="last_name">Last</label>
  </div>
  <div class="field">
    <%= f.date_field  :start_date, class: "datepicker btn", placeholder: "Clean/Sobriety Date"%>
  </div>
</div>
<div class="field">
  <%= f.radio_button :sobriety, :clean,  id: "test1"%>
  <label for="test1">Clean</label>
  <%= f.radio_button :sobriety, :sober,  id: "test3"%>
  <label for="test3">Sober</label>
</div>

<div class="field">
  <%= f.text_field :area, id: "area" %>
  <label for="area">County</label>
</div>
<div class="input-field col s12"> 
  <%= f.submit "Done",  class: "waves-effect waves-light btn" %> 
</div>
</div>

<% end %>

<script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 64, // Creates a dropdown of 15 years to control year,
    min: new Date(1953,9,14),
    max: true,
    closeOnSelect: true,
    closeOnClear: true,
  });
  
  
</script> 

<script>

  var basic = $('#main-cropper').croppie({
    viewport: {
        width: 200,
        height: 200,
        showZoomer: false,
        type: 'circle'

    },
    boundary: {
        showZoomer: false,
        width: 300,
        height: 300
    }
});

  function readFile(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function (e) {
        $('#main-cropper').croppie('bind', {
          url: e.target.result
        });
        $('.actionDone').toggle();
        $('.actionUpload').toggle();
      }

      reader.readAsDataURL(input.files[0]);
    }
  }

  $('.actionUpload input').on('change', function () { readFile(this); });
  $('.actionDone').on('click', function(){
    $('.actionDone').toggle();
    $('.actionUpload').toggle();
  })


</script>





